.logo{
    display: flex;
    align-items: center;
}
.logo__img{
    width: 40px;
    border-radius: 24px;
}
.logo__div{
    margin-left: 10px;
    border-left: solid 2px var(--textColor);
    padding-left: 10px;
}

.logo__name{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.logo__email{
    font-weight: 700;
    font-size: 12px;
}