.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    padding: 0 40px;
}

.nav__ul{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.nav__li{
    margin: 0 21px;
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
}

.nav__a{
    border: solid 1.3px var(--purple);
    padding: 15px 31px;
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--purple);
}